%h1
  Oct 7 2011 to Oct 7 2012.
.row
  .two.columns
    count
  .three.columns
    name display
  .two.columns
    title
  .two.columns
    duties
  .two.columns
    state
  .two.columns
    total
- i = 0
- @audit.each do |emp|
  - if emp.total >0
    .row
      .two
        = emp.counter
      .three.columns
        =link_to emp.namedisplay, edit_audit_path( :id =>emp.id )
      .two.columns
        =emp.title
      .two.columns
        =emp.duties
      .two.columns
        =emp.state
      .two.columns
        = emp.total