<!DOCTYPE html>
%html
  %head
    %title
      WC Audit 11 to 12
    =stylesheet_link_tag    "application", :media => "all" 
    <link rel="stylesheet" href="/stylesheets/app.css"> 
    = javascript_include_tag "application" 
    = csrf_meta_tag

%body
  #navbar
    %ul
      %li
        = link_to 'Home', home_path
  = yield